{% extends 'rango/base.html' %}

{% block title_block %}
    Password Changed
{% endblock %} 

{% block body_block %}
<center>
    <h2 class="title is-2">Password Changed.</h2>
    <br />
    <p class="subtitle">
        Your password has been changed. Please login using the new password next time.
        <br />
        <a href="{% url 'rango:index' %}" class="button">Go Back Home.</a>  
                
        <a href="{% url 'auth_login' %}" class="button button-primary">Login</a>
        
    </p>
</center>
{% endblock %}