{% extends 'rango/base.html' %}

{% block title_block %}
    Password Changed
{% endblock %} 

{% block body_block %}

    <h2>Password Changed</h2>
    <hr />
    <p>
        Your password has been changed. Please login using the new password next time.
        <br /><br />
        <a href="{% url 'rango:index' %}" class="button">Go Back Home.</a>  
        <center>        
        <a href="{% url 'auth_login' %}" class="button button-primary">Login</a>
        </center>
    </p>

{% endblock %}