{% extends 'rango/base.html' %}

{% block title_block %}
    Password Changed
{% endblock %} 

{% block body_block %}
<center>
    <h2 class="title is-2">Password Changed.</h2>
    <br />
    <p class="subtitle">
        Your password has been changed. Please login using the new password next time.
        <br />
    </p>
    <div class="field is-grouped is-grouped-centered">
        <div class="control">
            <a class="button is-link" href="{% url 'auth_login' %}">Login</a>
        </div>

        <div class="control">
            <a class="button is-link is-light" href="{% url 'rango:index' %}">Go Back Home</button>
        </div>
    </div>
</center>

{% endblock %}