{% extends 'rango/base.html' %}

{% block title_block %}
    Register 
{% endblock %} 

{% block body_block %}
    <center>
        <h2 class="title is-3">Registration</h2><br>
    </center>


    <form action="." method="POST">
        {% csrf_token %}
        <div class="field">
            <label for="id_username" class="label">Username : </label>
            <div class="control has-icons-left">
                {% for error in field.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
                <input class="input" type="text" placeholder="Enter Username" name="username" id="id_username" required autofocus>
                <span class="icon is-small is-left"><i class="fa fa-user"></i></span>
                <p class="help is-danger">Required. 30 characters or fewer. Letters, digits and @/./+/-/_ only.</p>
            </div>
        </div>
        <div class="field">
            <label for="id_email" class="label">E-mail : </label>
            <div class="control has-icons-left">
                <input type="email" class="input" name="email" id="id_email" placeholder="Enter a valid E-mail Address">
                <span class="icon is-small is-left"><i class="fa fa-envelope"></i></span>
            </div>
        </div>
        <div class="field">
            <label for="id_password1" class="label">Password : </label>
            <div class="control has-icons-left">
                <input type="password" class="input" id="id_password1" name="password1">
                <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
            </div>
        </div>
        <div class="field">
            <label for="id_password2" class="label">Password confirmation : </label>
            <div class="control has-icons-left">
                <input type="password" class="input" id="id_password2" name="password2">
                <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
                <p class="help is-danger">Enter the same password as before, for verification.  </p>
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link" type="submit">Submit</button>
            </div>
            <div class="control">
                <a class="button is-danger is-light" href="{% url 'rango:index' %}">Cancel</a>
            </div>
        </div>
    </form>


{% endblock %}