{% extends 'rango/base.html' %}

{% block title_block %}
    Register 
{% endblock %} 

{% block body_block %}
    <h2>Registration</h2>
    <hr />
    <center><h4><u>Rango says "Register here !"</u></h4></center>
    <form method="POST" action=".">
        <div class="row">
            {% csrf_token %}
            <div class="six columns">
                {{ form.as_p }}
            </div>
        </div>
        <center>
            <input class="button-primary" type="submit" value="Register">
        </center>
    </form>
{% endblock %}