<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <title>About | Rango</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/skeleton.css' %}">    
    </head>

<body>
    <center><h2>About</h2>
        <p></p>
    </center>
    <hr>
    <h3>Madhav says...</h3>
    <marquee>wanna get into Eggxguun sooo baddd!!!</marquee>
    <div class="container">
        <div class="row">
            <div class="one-half column">
                <p>I am a high school junior from India and a programmer, web-developer and Machine Learning Enthusiast. 
                    I’m particularly excited about probabilistic machine learning and deep neural networks. Visit my website.<br /><br />
                    plez gemme into Eggxguun... 
                </p>
                <a class="button button-primary" href="https://pseudocodenerd.netlify.com">poorBoi website</a>
                <a class="button button-primary" href="/rango">Rango | Home</a>
            </div>
            <div class="one-half column">
                <img class="u-max-full-width" src="{% static 'img/me.jpg' %}">
            </div>
        </div>
    </div>

</body>

</html>