{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        About
    {% endif %}
{% endblock %}

{% block body_block %}
    <center><h2 class="title is-2">About</h2><br>
    </center>

    <div class="columns is-mobile">
        <div class="column is-half-desktop is-8">

<blockquote class="twitter-tweet" data-dnt="true" align="center"><p lang="en" dir="ltr"><a href="https://twitter.com/tangowithdjango?ref_src=twsrc%5Etfw">@tangowithdjango</a> It was wonderful learning django through one of the most fun to read cs books. <br>With it&#39;s gleeful learning curve, I think I managed to grasp django well in a span of ~ 10 days. +<br><br>I present to you : Rango🤠 (<a href="https://t.co/E268I2Jkgw">https://t.co/E268I2Jkgw</a>)<br>🎨<a href="https://twitter.com/hashtag/bulmaio?src=hash&amp;ref_src=twsrc%5Etfw">#bulmaio</a></p>&mdash; Madhav Shekhar Sharma (@sharmadhavs) <a href="https://twitter.com/sharmadhavs/status/1235971429423669249?ref_src=twsrc%5Etfw">March 6, 2020</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<br>
                <div class="field is-grouped is-grouped-multiline">
                    <div class="control">
                      <div class="tags has-addons">
                        <span class="tag is-dark">github</span>
                        <span class="tag is-info">pseudocodenerd</span>
                      </div>
                    </div>
                    <div class="control">
                        <div class="tags has-addons">
                          <span class="tag is-dark">visits</span>
                          <span class="tag is-success">{{ visits }}</span>
                        </div>
                      </div>
                </div>
        </div>
        <div class="column-is-half is-hidden-mobile">
            <figure class="image">
                <img src="{% static 'img/me.jpeg' %}" alt="">
            </figure>
        </div>

    </div>

{% endblock %}

