{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Add Page 
    {% endif %}
{% endblock %}

{% block body_block %}
    <h3>Add a Category</h3>
    <hr>

    <form id="category_form" method="POST" action="/rango/add_category/">
        <div class="row">
            <div class="6 columns">
                <label>Enter Category Name : </label>
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    {{ fields.errors }}
                    {{ fields.help_text }}
                    {{ field }}
                {% endfor %}
                <input class="button-primary" type="submit" name="submit" value="Create Category">
            </div>
        </div>
    </form>

<center><a class="button" href="/rango">Go Back.</a></center>
{% endblock %}

