{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Unknown 
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if category %}
    <center><h2>{{ category.name }}</h2></center>
    <hr>
    <div class="container">
        {% if pages %}
        <table class="u-full-width">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                {% for page in pages %}
                <tr>
                    <td>{{ page.title }}</td>
                    <td><a class="button button-primary" href="{{ page.url }}">Visit</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <strong> No pages currently in category. </strong><br />
        {% endif %}
        {% if user.is_authenticated %}
            <center><a class="button" href="/rango/category/{{ category.slug }}/add_page/">Add Page.</a>
        {% endif %}
        <a class="button" href="/rango">Go Back.</a>
        </center>
    </div>
    {% else %}
        <strong> The specified category doesn't exist. </strong><br />
    {% endif %}

{% endblock %}







