{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Unknown 
    {% endif %}
{% endblock %}

{% block body_block %}

    {% if category %}
    <center><h3 class="title is-3">{{ category.name }}</h3></center><br />
    <div class="table-container">
        {% if pages %}
        <table class="table is-fullwidth is-hoverable">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                {% for page in pages %}
                <tr>
                    <td>{{ page.title }}</td>
                    <td><a href="{{ page.url }}">{{ page.url }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <strong> No pages currently in category. </strong><br />
        {% endif %}
    </div>
    {% if user.is_authenticated %}
    <div class="field is-grouped is-grouped-centered">
        <div class="control">
            <a class="button is-link" href="/rango/category/{{ category.slug }}/add_page/">Add Page</a>
        </div>
    {% endif %}
        <div class="control">
            <a class="button is-link is-light" href="{% url 'rango:index' %}">Go Back</button>
        </div>
    </div>
    {% else %}
        <strong> The specified category doesn't exist. </strong><br />
    {% endif %}

    

{% endblock %}







