{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Homepage
    {% endif %}
{% endblock %}

{% block body_block %}

    <section class="hero is-info welcome is-small">
        <div class="hero-body">
            <div class="container">
                {% if user.is_authenticated %}
                <h1 class="title">Hello, {{ user.username }}.</h1>
                <h2 class="subtitle">I hope you are having a great day!</h2>
                {% else %}
                <h1 class="title">Welcome to Rango !</h1>
                <h2 class="subtitle">I hope you are having a great day!</h2>
                {% endif %}
            </div>
        </div>
    </section>
    <section class="info-tiles">
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    {% if categories %}
                    <p class="title has-text-centered">Most Liked Categories</p>
                    <ol class="subtitle_ol">
                        {% for category in categories %}
                        <li><a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a>
                            | {{ category.likes }} Likes.
                        </li>
                        {% endfor %}
                    </ol>
                    {% else %}
                        <p><strong>There are no categories present.</strong></p>
                    {% endif %}
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    {% if pages %}
                    <p class="title has-text-centered">Most Viewed Pages</p>
                    <ol class="subtitle_ol">
                        {% for page in pages %}
                        <li><a href="{{ page.url }}">{{ page.title }}</a> | {{ page.views }} Views.</li>
                        {% endfor %}
                    </ol>
                    {% else %}
                        <p><strong>There are no pages present.</strong></p>
                    {% endif %}
                </article>
            </div>
        </div>
    </section>

{% endblock %}
