{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Homepage 
    {% endif %}
{% endblock %}

{% block body_block %}
    <div>
        <h2>Rango says...</h2>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class='one-half column'>
                {% if user.is_authenticated %}
                    <h4>Jai Shri Ram {{ user.username }} ! </h4>
                {% else %}
                    <h4>Jai Shri Ram Bhraata ! </h4>
                {% endif %}
                <a class="button" href="{% url 'registration_register' %}">Sign Up</a>     
                <a class="button" href="{% url 'auth_login' %}">Login</a> <br />

            </div>
            <div class = 'one-half column'>
                {% if categories %}
                <h4>Most Liked Categories</h4>
                    <ol>
                        {% for category in categories %}
                        <li><a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a>
                            | {{ category.likes }} Likes.
                        </li>
                        {% endfor %}
                    </ol>
                {% else %}
                    <strong>There are no categories present.</strong>
                {% endif %}
                <hr>
                {% if pages %}
                <h4> Most Viewed Pages </h4>
                    <ol>
                        {% for page in pages %}
                        <li><a href="{{ page.url }}">{{ page.title }}</a>
                            | {{ page.views }} Views.</li>
                        {% endfor %}
                    </ol>
                {% else %}
                    <strong> There are no pages present. </strong>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
