{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}

    <h2>Login to Rango</h2>
    <hr />

    <form id="login_form" method="POST" action="{% url 'rango:login' %}">
        <div class="row">
            {% csrf_token %}
            <div class="six columns">
              <label for="username_input">Username : </label>
              <input class="u-full-width" type="text" placeholder="Enter your username" id="username_input" value="" name="username"/>
            </div>
            <div class="six columns">
              <label for="pass_input">Password : </label>
              <input class="u-full-width" type="password" placeholder="Enter your password" id="pass_input" value="" name="password"/>
            </div>
          </div>
          <center>
            <input class="button-primary" type="submit" name="submit" value="Login">
        </center>
    </form>

{% endblock %}