{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Register - Step 2
{% endblock %} 

{% block body_block %}
    <center>
        <h3 class="title is-3">Registration - Step 2</h3><br>
    </center>

    <form method="POST" action="{% url 'rango:register_profile' %}"enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="field">
            <label for="id_website" class="label">Website : </label>
            <div class="control has-icons-left">
                {% for error in field.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
                <input class="input" type="url" placeholder="Enter website if got one !" name="website" id="id_website" maxlength="200">
                <span class="icon is-small is-left"><i class="fa fa-globe"></i></span>
            </div>
        </div>

        <div class="field">
            <div class="file has-name is-right is-success">
                <label class="file-label">
                  <input class="file-input" type="file" name="picture" accept="image/*" id="id_picture">
                  <span class="file-cta"><span class="file-icon"><i class="fa fa-upload"></i></span>
                    <span class="file-label">Choose a file…</span>
                  </span>
                  <span class="file-name">your_picture.png</span>
                </label>
              </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link" type="submit">Create Profile</button>
            </div>
            <div class="control">
                <a class="button is-danger is-light" href="{% url 'rango:index' %}">Cancel</a>
            </div>
        </div>

    </form>

{% endblock %}